:root {
  --colorPrimary: #00a7ce;
  --colorYellow: #ffd700;
  --redColor: #ff0000;
  --colorblack: #101010;
  --greenColor: #33a702;
  --colorWhite: #fff;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
  --headerHeight: 100px;
  --marketingColor: #003a70;
  --maxWidth: 1000px;
}
body main section .form > div:first-child {
  display: flex;
  align-items: baseline;
  justify-items: center;
  gap: 20px;
  flex-direction: column;
}
body main section .form > div:first-child ._email {
  grid-column-start: 2;
  grid-column-end: 4;
}
body main section .form > div:first-child .area textarea {
  height: 100px;
}
body main section .form > div:first-child .photo label span svg .--amc-fill {
  transition: all 1s ease-in-out;
}
body main section .form > div:first-child .photo label:hover span {
  color: white;
}
body main section .form > div:first-child .photo label:hover span svg .--amc-fill {
  fill: white;
}
body main section .form-subnit {
  float: right;
  margin-block: 20px;
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  body main section .form {
    margin-inline: 100px;
  }
  body main section .form > div:first-child {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  body main section .form-subnit {
    width: 200px;
  }
}
