:root {
  --colorPrimary: #00a7ce;
  --colorYellow: #ffd700;
  --redColor: #ff0000;
  --colorblack: #101010;
  --greenColor: #33a702;
  --colorWhite: #fff;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
  --headerHeight: 100px;
  --marketingColor: #003a70;
  --maxWidth: 1000px;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}
img {
  pointer-events: none;
}
body header,
body footer {
  width: 100%;
}
body header > div,
body footer > div {
  max-width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
body main {
  padding-top: var(--headerHeight);
  min-height: 90vh;
}
body main section {
  width: 100%;
}
body main section > div {
  max-width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
body .--title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  color: var(--colorPrimary);
  font-weight: bold;
  text-transform: capitalize;
}
body .--title::after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 50%;
  margin: 0 auto;
  width: 35%;
  height: 5px;
  background-color: var(--colorYellow);
  transform: translateX(-30px);
}
body .--input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-start;
  align-items: baseline;
  width: 100%;
}
body .--input span {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 10px;
  color: var(--colorPrimary);
  text-transform: capitalize;
}
body .--input input,
body .--input textarea {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--colorPrimary);
  padding: 10px;
  width: 100%;
  font-size: 1rem;
}
body .--input input[type=number]::-webkit-outer-spin-button,
body .--input input::-webkit-inner-spin-button,
body .--input input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
body .--input > div {
  position: relative;
  width: 100%;
  border: none;
}
body .--input > div select {
  border: 1px solid var(--colorPrimary);
  border-radius: 10px;
  width: 100%;
  appearance: none;
  padding: 10px;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}
body .--input > div::after {
  content: "";
  position: absolute;
  right: 17px;
  z-index: 11;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid var(--colorYellow);
  top: 18px;
  pointer-events: none;
}
body .--input._error span {
  color: var(--redColor);
}
body .--input._error input,
body .--input._error textarea {
  border-color: var(--redColor);
}
body .--input._error > div select {
  border-color: var(--redColor);
}
body .--button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid black;
  color: var(--colorPrimary);
  cursor: pointer;
  gap: 5px;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
}
body .--button._primary {
  border-color: var(--colorPrimary);
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}
body .--button._primary:hover {
  background-color: transparent;
  color: var(--colorPrimary);
}
body .--button._upload {
  background-color: transparent;
  border-color: var(--colorPrimary);
  color: var(--colorPrimary);
}
body .--button._upload:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}
body .--button._secondary {
  border-color: var(--colorYellow);
  background-color: var(--colorYellow);
  color: var(--colorWhite);
}
body .--button._secondary:hover {
  background-color: transparent;
  color: var(--colorYellow);
}
body .--button._icon span svg {
  width: 20px;
}
body .--button._icon:hover span svg {
  fill: var(--colorPrimary);
}
body .--button#subnit span:last-child {
  display: none;
}
body .--button#subnit span:first-child {
  display: block;
}
body .--button span svg {
  width: 15px;
  fill: var(--colorWhite);
}
body .--hide {
  display: none !important;
}
body ._desc {
  transition: 0;
}
body ._desc::after {
  transform: rotate(-180deg);
}
body .more {
  background-color: transparent;
  border: none;
  color: var(--colorPrimary);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .more:hover {
  text-decoration: underline;
  color: var(--colorYellow);
}
body .add {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--colorPrimary);
  border-radius: 50px;
  align-items: center;
  z-index: 99999;
}
body .add a {
  background-color: transparent;
  border: none;
  padding: 10px;
}
body .add a svg {
  width: 100%;
}
body .add a svg .--amc-fill {
  fill: var(--colorPrimary);
}
body .add a:hover svg .--amc-fill {
  fill: var(--colorYellow);
}
.splashScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  .--button {
    width: 200px;
  }
}
* {
  font-family: "Segoe UI", sans-serif;
  font-weight: normal;
}
body .Header {
  padding-block: 10px;
  background-color: var(--colorWhite);
  box-shadow: var(--box-shadow);
}
body .Header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .Header-logo {
  width: 150px;
  height: auto;
}
body .Header-logo img {
  width: 50px;
}
@media only screen and (min-width: 800px) {
  body .Header-logo {
    width: 200px;
  }
}
body main {
  margin-top: 0px;
}
body main section .qr {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  column-gap: 50px;
}
body main section .qr-use {
  width: 100%;
  max-width: 400px;
  height: auto;
  min-height: 300px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--colorPrimary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: auto;
}
body main section .qr-use > div {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
body main section .qr-use > div button {
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
body main section .qr-use > div button svg {
  width: 100%;
}
body main section .qr-use > div button svg .--amc-fill {
  fill: var(--colorPrimary);
  transition: all 0.5s;
}
body main section .qr-use > div button:hover svg .--amc-fill {
  fill: var(--colorYellow);
}
body main section .qr-use > div button._active svg .--amc-fill {
  fill: var(--colorYellow);
}
body main section .qr-use > div:last-child {
  width: 100%;
}
body main section .qr-use > div:last-child button {
  width: 100%;
  border: 1px solid var(--colorPrimary);
}
body main section .qr-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}
body main section .qr-form > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
body main section .qr-form > div .--input {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}
body main section .qr-form > div .--input._url {
  width: 100%;
  max-width: 100%;
}
body main section .qr-submit {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}
body main section .view {
  margin-block: 50px;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section .view svg {
  width: 300px;
  background-color: transparent !important;
}
body main section .template {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--colorPrimary);
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-block: 30px;
  justify-items: center;
}
body main section .template-view {
  width: 100%;
  height: 100%;
  padding: 5px;
  max-width: 500px;
}
body main section .template-view svg {
  width: 100%;
}
body main section .template-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  height: 100%;
  border-left: 1px solid var(--colorPrimary);
  padding: 5px 20px;
  gap: 10px;
}
body main section .template-display .--input input {
  border-radius: 0;
  width: 100%;
}
body main section .template-display .icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-start;
  align-items: baseline;
  width: 100%;
}
body main section .template-display .icon > span {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 10px;
  color: var(--colorPrimary);
  text-transform: capitalize;
  font-weight: bold;
}
body main section .template-display .icon > div {
  padding: 10px;
  width: 100%;
  height: auto;
  border: 1px solid var(--colorPrimary);
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 5px;
}
body main section .template-display .icon > div > button {
  outline: none;
  border: none;
  width: 100%;
  max-width: 50px;
  background-color: var(--colorPrimary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
body main section .template-display .icon > div > button svg {
  width: 100%;
  fill: #fff;
}
body main .add {
  position: fixed;
  bottom: 10px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--colorPrimary);
  border-radius: 50px;
  align-items: center;
}
body main .add a {
  background-color: transparent;
  border: none;
  padding: 10px;
}
body main .add a svg {
  width: 100%;
}
body main .add a svg .--amc-fill {
  fill: var(--colorPrimary);
}
body main .add a:hover svg .--amc-fill {
  fill: var(--colorYellow);
}
@media only screen and (min-width: 800px) {
  body main section .qr {
    grid-template-columns: 1fr 2fr;
  }
  body main section .qr-form > div .--input {
    width: 47%;
  }
  body main section .qr-submit {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
  }
}
body main section .form > div:first-child {
  display: flex;
  align-items: baseline;
  justify-items: center;
  gap: 20px;
  flex-direction: column;
}
body main section .form > div:first-child ._email {
  grid-column-start: 2;
  grid-column-end: 4;
}
body main section .form > div:first-child .area textarea {
  height: 100px;
}
body main section .form > div:first-child .photo label span svg .--amc-fill {
  transition: all 1s ease-in-out;
}
body main section .form > div:first-child .photo label:hover span {
  color: white;
}
body main section .form > div:first-child .photo label:hover span svg .--amc-fill {
  fill: white;
}
body main section .form-subnit {
  float: right;
  margin-block: 20px;
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  body main section .form {
    margin-inline: 100px;
  }
  body main section .form > div:first-child {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  body main section .form-subnit {
    width: 200px;
  }
}
